
.side-menu {
  color: #33e;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 5px;
}

.menu-item {
  padding: 10px;
  margin-bottom: 1px;
  border: 1px solid black;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  border-radius: 5px;
/*  border-left: none;*/
}

.selected-menu-item {
  background: #dad8d8;
}

.menu-item:hover {
  cursor: default;
  background: #e5e5e5;
}