
.side-menu {
  color: black;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
}

.menu-item {
  padding: 10px;
  margin-bottom: 1px;
  border: 1px solid black;
  writing-mode: vertical-rl;
  border-radius: 0px 5px 5px 0px;
  transform: rotate(180deg) translate(-2px, 0px);
/*  border-left: none;*/
}

.selected-menu-item {
  background: #dad8d8;
}

.menu-item:hover {
  cursor: default;
  background: #e5e5e5;
}