
.top-menu {
  cursor: default;
  display: flex;
  width: 100%;
  align-items: center;
  background: var(--blue);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  border-bottom: solid .3px black;
  font-size: .95em;
}

.menu-item {
  color: white;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 5px;
}

.menu-item:hover {
  background: var(--light-blue);
}

.menu-title {
  font-size: 1.1em;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
/*  padding: 10px;*/
  color: white;
}