---
import '../styles/global.css'
import Page from '../components/index'
---

<html lang='en'>
	<head>
		<meta charset='utf-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<title>Modular Things</title>
	</head>
	<body>
		<Page client:load/>
	</body>
</html>